*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.header{
    padding: 0 50px;
}
.intro-left-side {
    padding: 117px;
    min-width: 600px;
    
}
.intro-left-side h1{
    font-size: 4.5rem;
    font-weight: 700;
    width: 700px;
    
}
.intro-left-side h1 span{
    color: #FF8A56;

}
.intro-left-side p{
    color: #ccc;
}
.intro-right-side img{
    width: 100%;
}
.intro-right-side{
    padding-top: 70px;
}
.btn-right{
    background-color: #000;
    padding: 17px 30px;
    color:#fff;
    margin-right: 40px;
    border: none;
}
.btn-right:hover{
    background-color: #FF8A56;
}
.links{
    text-decoration: none;
    color: #000;
}
.trusted-by{
    text-align: center;

}
.trusted-text{
    font-size: 18px;
    text-align: center;
    padding: 45px;
}
.service{
    margin-top: 75px;
}
.service h6{
    text-align: center;
    text-transform: uppercase;
    color: #FF5E69;
    font-weight: 700;
    font-size: 22px;
}
.service h2{
    text-align: center;
    font-size: 54px;
    font-weight: 700;
}
.services-cards{
    padding-top: 70px;
    padding-left: 112.5px;
}
ul{
    list-style-type: square;
    
}
.kart{
    border-radius: 8px;
    min-width: 252px;
    transition: 1.4s ease;
    margin-top: 40px;
}
.kart:hover{
    box-shadow: 10px 10px 30px #5c5959cc;
    transform: rotateY(180deg);
}
.results{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__top {
    width: 100%;
    height: 305px;
}
.card__top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects-section{
    margin-left: 112px;
}
.control-btns{
    display: flex;
    justify-content: flex-end;
}
.control-btns button{
     padding: 10px;
}
.control-btns button:last-child{
    margin-right: 50px;
    margin-left: 7px;
   
}
@media(max-width:768px){
    .projects-section{
        margin-left: 0;
}
  
}














/* .flip-card{
background-color: transparent;
border: 1px solid #f1f1f1;
perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateX(180deg);
}
.flip-card-front ,.flip-card-back{
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.flip-card-back{
    background-color: #bbb;
    color: #000;
}
.flip-card-back img{
    width: 100%;
    height: 100%;
}
.flip-card-front{
    background-color: transparent;
    color: #000;
    transform: rotateX(180deg);
} */












@media(max-width:768px){
    .intro-left-side{
        min-width: 500px;
        background-color: #FF8A56;
        text-align: center;
    }
.intro-left-side h1{
   
    font-size: 3.5rem;
}
.intro-left-side h1 span{
     color: #000;
}
/* .intro-right-side img{
    display: block;
   margin: o auto; 
} */
}
@media(min-width:800px) and (max-width:1200px){
.introduction{
    display: flex;
   flex-direction: column;
   align-items: center;
}
.intro-left-side{
    background-color: teal;
    text-align: center;
    
}
.intro-left-side h1 {
font-size: 3.5rem;
text-align:start;
}
.intro-right-side{
    padding-top: 70px;
    padding-left: 70px;
}
}